<h2 class="title">Alumnos</h2>

<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Avatar</th>
      <th scope="col">Apellido</th>
      <th scope="col">Nombre</th>
      <th scope="col">Telefono</th>
      <th scope="col">E-Mail</th>
      <th scope="col">Estado</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let alumno of alumnos | paginate: { itemsPerPage: pageSize, currentPage: p}"
    [ngClass]="{
      'table-danger': alumno.activo === false
    }">

      <td><img [src]="alumno.avatar" class="avatar-pequeño"></td>
      <td>{{ alumno.nombre }}</td>
      <td>{{ alumno.apellido }}</td>
      <td>{{ alumno.email }}</td>
      <td>{{ alumno.telefono }}</td>
      <td>
        <!-- Usando *ngIf -->
        <ng-container *ngIf="alumno.activo">
          <i class="bi bi-check2-circle green"></i>
        </ng-container>
        <ng-container *ngIf="!alumno.activo">
          <i class="bi bi-x-circle red"></i>
        </ng-container>
      </td>
    </tr>
  </tbody>
</table>

<pagination-controls class="pagina" (pageChange)="p = $event"
                                    [previousLabel]="'Anterior'"
                                    [nextLabel]="'Siguiente'"
                                    [maxSize]="9"
                                    [directionLinks]="true"
                                    [autoHide]="true"
                                    [responsive]="true">
</pagination-controls>
