
.table {
  margin-left: 10px;
  text-align: center;
}

.green {
  color: green;
}

.red {
  color: red;
}

.title {
  text-align: center;
  padding-top: 1rem;
}

.pagina {
  text-align: center;
}

.avatar-pequeño {
  width: 50%;
}

