<div class="sidebar">

  <ul class="sidebar-menu">
    <li><a href="#"><i class="bi bi-house"></i>  Inicio</a></li>
    <li><a href="#"><i class="bi bi-people"></i>  Alumnos</a></li>
    <li><a href="#"><i class="bi bi-files"></i>  Reportes</a></li>
    <li><a href="#"><i class="bi bi-box-arrow-left"></i>  Salir</a></li>
  </ul>

  <footer>
    <div class="container">
      <div class="row row-cols-4">
        <div class="col"><i class="bi bi-facebook"></i></div>
        <div class="col"><i class="bi bi-instagram"></i></div>
        <div class="col"><i class="bi bi-whatsapp"></i></div>
        <div class="col"><i class="bi bi-twitter-x"></i></div>
      </div>
    </div>
  </footer>

</div>


