<div class="sidebar">

  <ul class="sidebar-menu">
    <li><a href="#"><i class="bi bi-house"></i>  Inicio</a></li>
    <li><a href="#"><i class="bi bi-people"></i>  Alumnos</a></li>
    <li><a href="#"><i class="bi bi-files"></i>  Reportes</a></li>
    <li><a href="#"><i class="bi bi-box-arrow-left"></i>  Salir</a></li>
  </ul>

  <footer>
    <div class="container">
      <div class="row row-cols-4">
        <div class="col"><a class="bi bi-facebook amarillo fa-2x" href="#" target="_blank" data-toggle="tooltip" title="Facebook"></a></div>
        <div class="col"><a class="bi bi-instagram amarillo fa-2x" href="#" target="_blank" data-toggle="tooltip" title="Instagram"></a></div>
        <div class="col"><a class="bi bi-whatsapp amarillo fa-2x" href="#" target="_blank" data-toggle="tooltip" title="WhatsApp"></a></div>
        <div class="col"><a class="bi bi-twitter-x amarillo fa-2x" href="#" target="_blank" data-toggle="tooltip" title="X (ex Twiter)"></a></div>
      </div>
    </div>
  </footer>

</div>
